.sidebar-menu .nav .items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #dddddd;
  padding: 10px 0px 10px 20px;
}
.sidebar-menu .nav .items:hover {
  background-image: linear-gradient(to right, #436c93, #4f93b7);
  color: white !important;
}
.sidebar-menu .nav .items:hover .item:hover {
  color: white;
}
.sidebar-menu .nav .items .item {
  height: 30px;
  line-height: 30px;
}
.sidebar-menu .nav .items .icon {
  width: 20%;
  color: #426990;
}
.sidebar-menu .nav .items .title {
  width: 70%;
  color: #333333;
  text-decoration: none;
}
.sidebar-menu .nav .items .next {
  width: 10%;
  justify-content: end;
  color: #426990;
}
