.left-content .main-header .title {
  font-weight: bold;
}
.left-content .main-header .description {
  color: #5f5f5f;
}
.left-content .main-content .nav-filter {
  display: flex;
  justify-content: space-between;
}
.left-content .main-content .nav-filter .search {
  width: 90%;
  background: #e9e8e6;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.left-content .main-content .nav-filter .search .result .navbar-brand {
  color: #333333;
  font-weight: bold;
}
.left-content .main-content .nav-filter .search .form-inline label {
  margin-left: 15px;
}
.left-content .main-content .nav-filter .search .form-inline input {
  margin-left: 15px;
}
.left-content .main-content .nav-filter .search .form-inline button {
  margin-left: 15px;
  background: #1f7a9c;
  border: none;
  border-bottom: 1px solid #263e47;
}
.left-content .main-content .nav-filter .add-master {
  width: 10%;
  background: #e9e8e6;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
}
.left-content .main-content .nav-filter .add-master button {
  font-weight: bold;
  color: #333333;
  background: #ffffff;
  border: 2px solid #bdbdbd;
}
.left-content .main-content .box-table .card {
  margin-top: 42px;
}
.left-content .main-content .box-table .card .card-body {
  font-size: 14px;
  color: #555;
  padding: 0px 20px 10px 20px;
  margin-top: -42px !important;
}
.left-content .main-content .box-table .card .card-body .table thead tr th {
  padding: 10px;
  border: 0px;
  color: #9a9a9a;
  font-weight: 300;
}
.left-content
  .main-content
  .box-table
  .card
  .card-body
  .table
  tbody
  tr:nth-child(even) {
  background-color: #fafafa !important;
  padding: 5px;
}
.left-content .main-content .box-table .card .card-body .table tbody tr td {
  height: 50px;
  line-height: 50px;
}
.left-content .main-content .box-table .card .card-end {
  text-align: center;
  margin: 40px 0px 50px 0px;
}
.left-content .main-footer {
  margin: 35px 0px 230px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-content .main-footer .main-pagination .pagination {
  display: inline-block;
}
.left-content .main-footer .main-pagination .pagination a {
  color: black;
  float: left;
  padding: 4px 12px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  box-shadow: 2px 2px #cccccc;
  border-radius: 5px;
  margin: 0 4px;
}
.left-content .main-footer .main-pagination .pagination a:hover {
  background-color: #426990;
  border: 1px solid #426990;
  box-shadow: 2px 2px #426990;
}
.left-content .main-footer .main-pagination .pagination a.active {
  background-color: #cccccc;
  color: white;
  border: 1px solid #cccccc;
}
.left-content .main-footer .main-pagination .pagination .next {
  border: none;
  box-shadow: none;
  border-radius: none;
}
.left-content .main-footer .main-pagination .pagination .last {
  padding: 4px 3px;
  font-weight: 300;
}
