
/*-----------Responsive----------*/
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 1199px) and (max-width: 1270px) {
  /*-----------Main----------*/
  .left-content .main-content .nav-filter .search .result .navbar-brand {
    font-size: 16px !important;
  }
  .left-content .main-content .nav-filter .search .form-inline button .title-search {
    display: none !important;
  }
  .left-content .main-content .nav-filter .add-master button .title-add {
    display: none !important;
  }
  .ant-pagination-total-text {
    width: 550px !important;
  }  
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  /*-----------Main----------*/
  .left-content .main-content .nav-filter .search .result .navbar-brand {
    margin-top: 2px;
    font-size: 16px !important;
  }
  .left-content .main-content .nav-filter .search .form-inline label {
    margin-left: 5px;
  }
  .left-content .main-content .nav-filter .search .form-inline input {
    margin-left: 5px;
    width: 25%;
  }
  .left-content .main-content .nav-filter .search .form-inline button {
    margin-left: 10px;
    background: #1f7a9c;
    border: none;
    border-bottom: 1px solid #263e47;
  }
  .left-content .main-content .nav-filter .search .form-inline button .title-search {
    display: none !important;
  }
  .left-content .main-content .nav-filter .add-master button .title-add {
    display: none !important;
  }
  .left-content .main-footer {
    flex-direction: column;
  }
  .ant-pagination-total-text {
    width: 380px !important;
  }  
}
@media (min-width: 768px) and (max-width: 991px) {
  /*-----------Header----------*/
  header .navbar {
    padding: 0.3rem 0.4rem 0.3rem 0rem !important;
  }
  header .navbar .btn-toggler {
    margin-left: 25px !important;
  }
  header .navbar .form-inline {
    margin-left: 25px !important;
  }
  header .navbar .form-inline .input-group {
    width: 230px !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link {
    margin-left: 10px !important;
  }

  /*-----------Main----------*/
  .left-content {
    padding: 20px 10px 0px 25px !important;
  }
  .left-content .main-content .nav-filter {
    flex-direction: column !important;
  }
  .left-content .main-content .nav-filter .search {
    flex-direction: column !important;
    width: 100% !important;
  }
  .left-content .main-content .nav-filter .search .form-inline label {
    margin-left: 0px !important;
    font-size: 12px;
  }
  .left-content .main-content .nav-filter .search .form-inline input {
    margin-left: 0px !important;
    width: 30%;
  }
  .left-content .main-content .nav-filter .search .form-inline button {
    margin-left: 10px !important;
  }
  .left-content .main-content .nav-filter .search .form-inline button .title-search {
    display: none !important;
  }
  .left-content .main-content .nav-filter .add-master {
    width: 0% !important;
    padding: 0px !important;
    margin-left: 0px !important;
    margin-top: 5px !important;
  }
  .left-content .main-footer {
    flex-direction: column;
  }
  .ant-pagination-total-text {
    width: 195px !important;
  }  
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  /*-----------Header----------*/
  header .navbar {
    padding: 0.3rem 0rem 0.3rem 0rem !important;
  }
  header .navbar .btn-toggler {
    margin-left: 10px !important;
  }
  header .navbar .form-inline {
    margin-left: 10px !important;
  }
  header .navbar .form-inline .input-group {
    width: 150px !important;
  }
  header .navbar .information .navbar-nav .nav-item {
    margin-left: 0px !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link {
    margin-left: 5px !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link .far {
    font-size: 16px !important;
  }
  header .navbar .information .navbar-nav .clock {
    margin-top: 5px !important;
    margin-left: 0px !important;
    font-size: 9px !important;
  }
  header .navbar .information .navbar-nav .clock.clock::after {
    top: 2px !important;
  }
  header .navbar .information .navbar-nav .clock .circle-user {
    margin-left: 0px !important;
  }

  /*-----------Main----------*/
  .left-content {
    padding: 20px 10px 0px 25px !important;
  }
  .left-content .main-content .nav-filter {
    flex-direction: column !important;
  }
  .left-content .main-content .nav-filter .search {
    flex-direction: column !important;
    width: 100% !important;
  }
  .left-content .main-content .nav-filter .search .form-inline label {
    display: none;
  }
  .left-content .main-content .nav-filter .search .form-inline input {
    margin-left: 0px !important;
    width: 50%;
  }
  .left-content .main-content .nav-filter .search .form-inline button {
    margin-left: 0px !important;
  }
  .left-content .main-content .nav-filter .search .form-inline button .title-search {
    display: none !important;
  }
  .left-content .main-content .nav-filter .add-master {
    width: 0% !important;
    padding: 0px !important;
    margin-left: 0px !important;
    margin-top: 5px !important;
  }
  .left-content .main-footer {
    flex-direction: column !important;
  }
}
/* // Small devices (landscape phones, 480px and up) */
@media (min-width: 480px) and (max-width: 575px) {
  /*-----------Header----------*/
  header .navbar {
    padding: 0.3rem 0rem 0.3rem 0rem !important;
  }
  header .navbar .btn-toggler {
    display: none;
  }
  header .navbar .form-inline {
    margin-left: 10px !important;
  }
  header .navbar .form-inline .input-group {
    width: 150px !important;
  }
  header .navbar .form-inline .input-group .form-control {
    padding: 2px !important;
  }
  header .navbar .information .navbar-nav .nav-item {
    margin-left: 0px !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link {
    margin-left: 5px !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link .badge {
    top: 8px !important;
    right: 0px;
    font-size: 50% !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link .far {
    font-size: 12px !important;
  }
  header .navbar .information .navbar-nav .clock {
    margin-top: 5px !important;
    margin-left: 0px !important;
    font-size: 9px !important;
  }
  header .navbar .information .navbar-nav .clock .circle-user {
    margin-left: 0px !important;
  }

  /*-----------Sidebar-menu----------*/
  .sidebar-menu {
    width: 85px !important;
  }

  .left-content {
    width: calc(100% - 85px) !important;
  }

  .sidebar-menu .nav .items {
    padding: 5px !important;
  }
  .sidebar-menu .nav .items .icon {
    width: 20%;
  }
  .sidebar-menu .nav .items .title {
    display: none;
  }
  .sidebar-menu .nav .items .next {
    display: none;
  }

  /*-----------Main----------*/
  .left-content {
    padding: 20px 10px 0px 25px !important;
  }
  .left-content .main-content .nav-filter {
    flex-direction: column !important;
  }
  .left-content .main-content .nav-filter .search {
    flex-direction: column !important;
    width: 100% !important;
  }
  .left-content .main-content .nav-filter .search .form-inline label {
    display: none;
  }
  .left-content .main-content .nav-filter .search .form-inline input {
    margin-left: 0px !important;
    width: 50%;
  }
  .left-content .main-content .nav-filter .search .form-inline button {
    margin-left: 0px !important;
  }
  .left-content .main-content .nav-filter .search .form-inline button .title-search {
    display: none !important;
  }
  .left-content .main-content .nav-filter .add-master {
    width: 0% !important;
    padding: 0px !important;
    margin-left: 0px !important;
    margin-top: 5px !important;
  }
  .left-content .main-footer {
    flex-direction: column !important;
  }
}
/* // Extra Small devices (320px and up) */
@media (min-width: 120px) and (max-width: 479px) {
  /*-----------Header----------*/
  header .navbar .btn-toggler {
    display: none;
  }
  header .navbar .form-inline {
    margin-left: 10px !important;
  }
  header .navbar .form-inline .input-group {
    width: 150px !important;
  }
  header .navbar .form-inline .input-group .form-control {
    padding: 2px !important;
  }
  header .navbar .information .navbar-nav .nav-item {
    margin-left: 0px !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link {
    margin-left: 5px !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link .badge {
    top: 8px !important;
    right: 0px;
    font-size: 50% !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link .far {
    font-size: 12px !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link .fullname {
    display: none !important;
  }
  header .navbar .information .navbar-nav .clock .fas {
    font-size: 13px !important;
  }

  /*-----------Sidebar-menu----------*/
  .sidebar-menu {
    width: 85px !important;
  }

  .left-content-mobi {
    width: calc(100% - 85px) !important;
  }

  .sidebar-menu .nav .items {
    padding: 5px !important;
  }
  .sidebar-menu .nav .items .icon {
    width: 20%;
  }
  .sidebar-menu .nav .items .title {
    display: none;
  }
  .sidebar-menu .nav .items .next {
    display: none;
  }

  /*-----------Main----------*/
  .left-content {
    padding: 20px 10px 0px 25px !important;
  }
  .left-content .main-content .nav-filter {
    flex-direction: column !important;
  }
  .left-content .main-content .nav-filter .search {
    flex-direction: column !important;
    width: 100% !important;
  }
  .left-content .main-content .nav-filter .search .form-inline label {
    display: none;
  }
  .left-content .main-content .nav-filter .search .form-inline input {
    margin-left: 0px !important;
    width: 50%;
  }
  .left-content .main-content .nav-filter .search .form-inline button {
    margin-left: 0px !important;
  }
  .left-content .main-content .nav-filter .search .form-inline button .title-search {
    display: none !important;
  }
  .left-content .main-content .nav-filter .add-master {
    width: 0% !important;
    padding: 0px !important;
    margin-left: 0px !important;
    margin-top: 5px !important;
  }
  .left-content .main-footer {
    flex-direction: column !important;
  }
}
