@media (min-width: 1199px) and (max-width: 1270px) {
  .left-content .main-content .nav-filter .search .result .navbar-brand {
    font-size: 16px !important;
  }
  .left-content
    .main-content
    .nav-filter
    .search
    .form-inline
    button
    .title-search {
    display: none !important;
  }
  .left-content .main-content .nav-filter .add-master button .title-add {
    display: none !important;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  /*-----------sidebar----------*/
  .sidebar-menu .nav .items {
    padding: 5px 0px 5px 5px !important;
  }

  .left-content .main-content .nav-filter .search .result .navbar-brand {
    margin-top: 2px;
    font-size: 16px !important;
  }
  .left-content .main-content .nav-filter .search .form-inline label {
    margin-left: 5px;
  }
  .left-content .main-content .nav-filter .search .form-inline input {
    margin-left: 5px;
    width: 25%;
  }
  .left-content .main-content .nav-filter .search .form-inline button {
    margin-left: 10px;
    background: #1f7a9c;
    border: none;
    border-bottom: 1px solid #263e47;
  }
  .left-content
    .main-content
    .nav-filter
    .search
    .form-inline
    button
    .title-search {
    display: none !important;
  }
  .left-content .main-content .nav-filter .add-master button .title-add {
    display: none !important;
  }
  .left-content .main-footer {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /*-----------Header----------*/
  header .navbar {
    padding: 0.3rem 0.4rem 0.3rem 0rem !important;
  }
  header .navbar .btn-toggler {
    margin-left: 25px !important;
  }
  header .navbar .form-inline {
    margin-left: 25px !important;
  }
  header .navbar .form-inline .input-group {
    width: 230px !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link {
    margin-left: 10px !important;
  }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  /*-----------Header----------*/
  header .navbar {
    padding: 0.3rem 0rem 0.3rem 0rem !important;
  }
  header .navbar .btn-toggler {
    margin-left: 10px !important;
  }
  header .navbar .form-inline {
    margin-left: 10px !important;
  }
  header .navbar .form-inline .input-group {
    width: 150px !important;
  }
  header .navbar .information .navbar-nav .nav-item {
    margin-left: 0px !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link {
    margin-left: 5px !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link .far {
    font-size: 16px !important;
  }
  header .navbar .information .navbar-nav .clock {
    margin-top: 5px !important;
    margin-left: 0px !important;
    font-size: 9px !important;
  }
  header .navbar .information .navbar-nav .clock.clock::after {
    top: 2px !important;
  }
  header .navbar .information .navbar-nav .clock .circle-user {
    margin-left: 0px !important;
  }
}
/* // Small devices (landscape phones, 480px and up) */
@media (min-width: 480px) and (max-width: 575px) {
  /*-----------Header----------*/
  header .navbar {
    padding: 0.3rem 0rem 0.3rem 0rem !important;
  }
  header .navbar .btn-toggler {
    display: none;
  }
  header .navbar .form-inline {
    margin-left: 10px !important;
  }
  header .navbar .form-inline .input-group {
    width: 150px !important;
  }
  header .navbar .form-inline .input-group .form-control {
    padding: 2px !important;
  }
  header .navbar .information .navbar-nav .nav-item {
    margin-left: 0px !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link {
    margin-left: 5px !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link .badge {
    top: 8px !important;
    right: 0px;
    font-size: 50% !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link .far {
    font-size: 12px !important;
  }
  header .navbar .information .navbar-nav .clock {
    margin-top: 5px !important;
    margin-left: 0px !important;
    font-size: 9px !important;
  }
  header .navbar .information .navbar-nav .clock .circle-user {
    margin-left: 0px !important;
  }
}
/* // Extra Small devices (320px and up) */
@media (min-width: 320px) and (max-width: 479px) {
  /*-----------Header----------*/
  header .navbar .btn-toggler {
    display: none;
  }
  header .navbar .form-inline {
    margin-left: 10px !important;
  }
  header .navbar .form-inline .input-group {
    width: 150px !important;
  }
  header .navbar .form-inline .input-group .form-control {
    padding: 2px !important;
  }
  header .navbar .information .navbar-nav .nav-item {
    margin-left: 0px !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link {
    margin-left: 5px !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link .badge {
    top: 8px !important;
    right: 0px;
    font-size: 50% !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link .far {
    font-size: 12px !important;
  }
  header .navbar .information .navbar-nav .nav-item .nav-link .fullname {
    display: none !important;
  }
  header .navbar .information .navbar-nav .clock .fas {
    font-size: 13px !important;
  }
}

/*# sourceMappingURL=main.css.map */
